{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Edit Profile: {{ user.username }}</h1>
<form action="" method="post">
    <!--Add a hidden field to protect against CSRF attacks-->
    {{ form.hidden_tag() }}
    <p>
        {{ form.about_me.label }}<br>
        {{ form.about_me(rows='15', cols='64', size=32 )}}<br>
        {% for error in form.about_me.errors %}
        <span style="color: red">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>

</div>

{% endblock %}