{% extends "base.html" %}

{% block content %}
<title>Projects</title>
<div class="container">
    <div class="project-page">
    <h1>Projects</h1>
    <p>{{ intro }}</p>
        {% for project in projects|reverse %}
            <hr>
            <div id="projects-grid">
                <div class="img">
                    {% if current_user.username == 'Jack' %}
                        <a href="{{ url_for('edit_project', id=project.id) }}" target="_blank">
                    {% else %}
                        <a href="{{ project.url_to_link }}" target="_blank">
                    {% endif %}
                    <img src="{{ url_for('static', filename=project.img()) }}"alt="{{ project.title }}"/></a>
                </div>

                <div class="text">
                    <a href="{{ project.url_to_link }}" target="_blank"><h2>{{ project.title }}</h2></a>
                    <h4> {{ project.date.strftime('%B %Y') }}</h4>
                    <p>{{ project.body }}</p>
                </div>

                <div class="extra">
                    <ul>
                        {% for language in project.languages %}
                            <li id="language">{{ language.language }}</li>
                        {% endfor %}

                        {% for framework in project.frameworks %}
                            <li id="framework">{{ framework.framework }}</li>
                        {% endfor %}

                        {% for package in project.packages %}
                            <li id="package">{{ package.package }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}