{% extends "base.html" %}

{% block content %}
<title>Projects</title>
<style>
    .projects {
        width: 400px;
        height: 200px;
    }
</style>

    <h1>Projects</h1>
    <p>{{ intro }}</p>
        {% for project in projects|reverse %}
            <hr>
            <table>
                <tr valign="top">
                    <td>
                        <a href="{{ project.url_to_link }}">
                            <img src="{{ url_for('static', filename=project.img_path) }}"
                            class="projects"
                            alt="{{ project.title }}"/>
                        </a>
                    </td>

                    <td>
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.body }}</p>
                        <p><a href="{{ project.url_to_link }}">See project</a></p>
                        <p> Posted: {{ project.date.strftime('%A %d %b %Y at %H:%M') }}</p>
                    </td>
                </tr>
            </table>
        {% endfor %}

{% endblock %}